@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

/* this is a comment */

/* CSS Syntax:

selector {
	property: value;
	property: value;

}

*/

/* type selector */

p { /* this is going to select all <p> elements */
	font-size: 1em; /* use 16px, 12pt (not consistent), 100% (not consistent), 1em (advantage for using em's.. calculated em's is easy, just divide by 16) */
	line-height: 1.5em;

}

figcaption {
	/*
	font-weight: normal;
	font-size: .75em;
	line-height: 1.5em;
	font-family: Georgia, "New Times Roman", serif; */
	font: normal .75em/1.5em 'Elsie Swash Caps', cursive;
	color: #777;
	text-align: right;
}

/* class selectors (applied to as many elements as i want) */

/* to start a class, i need to start with a . */

.milk-text {
	font: bold 2.6em 'Elsie Swash Caps', cursive;
	color: white;
	text-shadow: 0 2px 3px #000;
}

/* ID selectors (only apply to one unique element per page) */

#logo {

}


/* Descendent Selector (style something that follows another element*/

#logo h1 { /* will only select h1's if they are inside the id=logo*/
	font-family: 'Clicker Script', cursive;

}

#logo h2 {
	font-family: 'Elsie Swash Caps', cursive;
}

/* Psuedo Selector (looking at event-states... like links (visited, clicked, etc.)*/ 

#details a:link, #details a:visited {
	color: black;
	text-decoration: none;
}

#details a:hover {
	color: black;
	text-decoration: underline;
}

#details a:active {
	color: red;
}

/*///// MEDIA ///// */
img, video, audio {
	max-width: 100%
}

/* ///// LAYOUT ///////// */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.wrapper {
	width: 960px;
	margin: 0 auto;
}


.col-1 {
	float: left;
	width: 32%;
	background: #ccc;
}

.col-2 {
	float: left;
	width: 66%;
	background: #ccc;
}

.col-3 {
	background: #ccc;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}


[class*="col-"] {
	margin-left: 2%;
}

.first {
	margin-left: 0%;
}

/* ///// SECTIONS ///////// */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 1;
}

section {
	padding: 20px;
	margin-bottom: 20px;
}

/* ///// SOCIAL ///////// */

#social {
	position: fixed;
	top: 200px;
	right: 20px;
	width: 40px;
	z-index: 1;
}

#social a {
	display: block;
	width: 40 px;
	height: 40 px;
	background-color: yellow;
}